* {
    border-radius: 10px;
    border-color: rgb(255, 199, 199);
}

body {
    background-color: rgb(255, 224, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 50px 0px 0px 0px;
}

.TDLtitle {
    text-align: center;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ff7eb4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 30px;
}

.listul {
    margin: 0px 0px 10px -35px;
}

.close {
    cursor: pointer;
}

.close:hover {
    color: rgb(242, 18, 93);
    font-weight: bold;
    font-size: 20px;
}

.checkbox {
    cursor: pointer;
}

.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
    width: 400px;;
}

.checkbox {
    margin-right: 10px;
}

#resetButton {
    margin: 0px 0px 0px 340px;
}