* {
    box-sizing: border-box;
    background-color: #EDE574;
    font-size: large;
  }

  h1{
    font-size: xx-large;
  }
  
  .container{
    text-align: center;
  }
  ul li span:hover{
    background-color: #EDE574;
      
  }
  button#reset:hover{
   background-color:#9f9f9f;
  }
  #plus:hover{
    background-color:#9f9f9f;
  }

  ul {
    list-style: none;
  } 
  li {
    text-align: center;
    height: 40px;
  }
  ul#list{
    padding:0px;
  }